.resultPage {
  background-color: #A2C7D7;
  .title {
    padding-top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
  }
  .subTitle {
    margin-bottom: 48px;
    color: white;
  }
  .enterBtn {
    width: 60vw;
    min-width: 180px;
    text-align: center;
    color: white;
  }
}

